<ion-content [fullscreen]="true">
  <div id="header">
    
      <ion-card #card class="div-redondeado">
        <h2>¡Espera! ¿Cómo quieres empezar?</h2>
        <p>De igual manera, podrás interactuar y cambiar de rol cuando lo necesites.</p>
      </ion-card>

      <div class="div-typeUser">
        <h3>Vendedor</h3>
        <p>Para que vendas todos tus productos, necesitamos algunos datos adicionales.</p>

        <form id="form" [formGroup]="vendedorForm">

          <span [ngStyle]="{'color':'#fe0000','background':'#ffffff'}"
          *ngIf="vendedorForm.controls.direccionEs.invalid && vendedorForm.controls.direccionEs.touched">{{getErrorNameMessage()}}</span>

          <ion-item (click)="addDirection()">
            <ion-label class="normal" *ngIf="ubicacion == null">
               ingresa tu ubicacion
            </ion-label>
            <ion-label class="normal" *ngIf="ubicacion != null">
               {{ubicacion.lat}} {{ubicacion.lng}}
            </ion-label>
            <ion-buttons slot="end">
              <ion-button>
                   <ion-icon slot="icon-only" color="danger" name="location"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-input type="text" placeholder="villanueva" label="Vereda de residencia." labelPlacement="stacked" formControlName="vereda">
              <ion-icon name="navigate-circle-outline" slot="end"></ion-icon>
            </ion-input>  
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-input type="text" placeholder="junto a la escuela" label="Indicaciones de dirección." labelPlacement="stacked" formControlName="direccionEs">
              <ion-icon name="navigate-circle-outline" slot="end"></ion-icon>
            </ion-input>  
          </ion-item>
    
          <ion-item class="ion-margin-bottom">
            <ion-input type="text" placeholder="Granja el pollón" label="Finca/Empresa" labelPlacement="stacked" formControlName="finca">
              <ion-icon name="business-outline" slot="end"></ion-icon>
            </ion-input>  
          </ion-item>

           <div class="imagenes">
            <p>ingresa tres fotos para orientar a los repartidores</p>

                <img src="{{imageSelect1}}" id="open1" (click)="openModal = 'open1'">

                <img src="{{imageSelect2}}" id="open2" (click)="openModal = 'open2'">

                <img src="{{imageSelect3}}" id="open3" (click)="openModal = 'open3'" >
            <label>(boble click para cambiar la imagen)</label>
           </div>
          
          <ion-button expand="block" shape="round" (click)="insetTypeUserVendedor()">ingresar</ion-button>
          
        </form>
      </div>

      <div class="div-typeUser">
        <h3>Comprador</h3>
        <p>Para que tus productos lleguen a tiempo, necesitamos algunos datos adicionales.</p>

        <form id="form"  [formGroup]="compradorForm">

          <ion-item (click)="addDirection()">
            <ion-label class="normal">
               Ubicación
            </ion-label>
            <ion-buttons slot="end">
              <ion-button>
                   <ion-icon slot="icon-only" color="danger" name="location"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-input type="text" placeholder="junto a la escuela" label="Indicaciones de dirección." labelPlacement="stacked" formControlName="direccionEs">
              <ion-icon name="navigate-circle-outline" slot="end"></ion-icon>
            </ion-input>  
          </ion-item>

          <ion-button expand="block" shape="round" (click)="insetTypeUserComprador()">ingresar</ion-button>

        </form>
      </div>

      <div class="div-typeUser">
        <h3>Repartidor</h3>
        <p>Ganarte algo pa'la gasolina, pero antes ingresa las veredas por las cuales transitas. </p>

        <form id="form"  [formGroup]="repartidorForm">

          <ion-item class="ion-margin-bottom">
            <ion-input type="text" placeholder="villanueva, cienega, mondeyal..." label="Indicaciones de dirección." labelPlacement="stacked" formControlName="rutas">
              <ion-icon name="navigate-circle-outline" slot="end"></ion-icon>
            </ion-input>  
          </ion-item>

          <ion-button expand="block" shape="round" (click)="insetTypeUserRepartidor()">ingresar</ion-button>

        </form>
      </div>

  </div>

  <ion-modal [trigger]="openModal" [initialBreakpoint]="1" [breakpoints]="[0, 1]" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <div id="block">
        <ion-toolbar>
          <ion-title>seleciona el origen</ion-title>
        </ion-toolbar>
    
          <ion-button class="modalbtn" (click)="camera()">camara <ion-icon name="camera-outline"></ion-icon></ion-button>
          
          <ion-button class="modalbtn" (click)="galeri()">galeria <ion-icon name="images-outline" ></ion-icon></ion-button>
       
      </div>
    </ng-template>
  </ion-modal>

  <ion-toast
  [ngStyle]="{'color':'#fe0000','--background':'#ffffff'}"
  [isOpen]="isToastOpen"
  message="{{messageToast}}"
  [duration]="10000"
  (didDismiss)="setOpenToast(false,'')"
></ion-toast>

</ion-content>
