<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>income</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="header">
    <div class="div-redondeado">
    <div class="sales">
      <h5>Pedios exitosos</h5>
        <h2>150</h2>
    </div>
    <div class="money">
        <h5>ingresos</h5>
        <h2>55.000</h2>
    </div>
    </div>

  </div>

  <ion-list>
    <ion-item class="item-content" lines="none" id="present-alert">
      <ion-card routerLink="/ordersavaliabledetail">
        <ion-item class="item-info" lines="none">
          <ion-label>
            <p>pedio</p>
            <h2>5sdf453gdf5g34f5</h2>
          </ion-label>
          <ion-label>
            <p>ingreso</p>
            <h2>8.000</h2>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-item>
  </ion-list>
  
</ion-content>
