ion-toolbar{
	--background:  rgba(254, 237, 162, 0.554);
}
ion-content {
    --background: rgb(208, 208, 208); 

    .encabezado{
        margin-right: 5px;
        margin-left: 5px; 
        border-radius:0px 0px 20px 20px;
        padding: 5px;
        background-color: rgba(255, 223, 79, 0.554);

        h2{
            --width: 10px;
            border-bottom: solid;
            font-size: 20px;
            text-align: center;
        }

        .code{
            width: 48.8%;
            --border-radius:0px 0px 20px 20px;
        }

        ion-button{
            width: 98%;
            --border-radius:20px;
        }
    }
    
    .pedido{
        margin-top: 10px;
        margin-right: 50%;
        border-radius:0px 20px 20px 0px;
        padding: 5px;
        background-color: rgba(255, 223, 79, 0.554);

        p{
            width: 100%;
            border-bottom: solid;
            font-size: 20px;
        }

        ion-button{
            width: 48.8%;
            --border-radius:20px;
        }
    }
	
	ion-card{
		background: rgb(255, 255, 255);
		padding: 10px;
	}
	ion-item{
		--background: rgb(255, 255, 255);
	}
}