<ion-header>
  <ion-toolbar>
    <ion-title>AgroMarket</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/updateporfile">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/shopping">
        <ion-icon name="bag-outline"></ion-icon>
      </ion-button>
    </ion-buttons> 
    <ion-buttons slot="end">
      <ion-button routerLink="/card">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar *ngIf="productoAleatorio != null" placeholder="{{productoAleatorio.nombre}}"></ion-searchbar>
    <ion-label>serca a Isnos-Huila</ion-label> <ion-icon name="location-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div class="ads">
  <h4>mira esto!!</h4>
  <swiper-container [slidesPerView]="3" navigation="true" scrollbar="true">
    <swiper-slide  *ngFor="let p of products" routerLink="/detalle/{{p.id}}">
      <div>
        <img src="{{p.img[0]}}" alt="">
        <label>{{p.nombre}}</label>
      </div>
    </swiper-slide>
  </swiper-container>
</div>


  <ion-list>

    <div class="div-recomendado" *ngIf="view != []">

      <ion-item lines="none" class="title">
      
        <ion-label> <i>Mas vendido</i> </ion-label>
        
        <ion-button (click)="verMas()">ver mas</ion-button>
      </ion-item>

      <ion-item lines="none"  *ngFor="let p of view" routerLink="/detalle/{{p.id}}">
        <div id="div-content">
          <ion-avatar>
            <ion-img src="{{p.img[0]}}"></ion-img>
          </ion-avatar>
          <ion-label>
            <b> <u> {{p.nombre}} </u> </b> <br> <br> 
            <b>precio:</b> {{p.precio}} <br> 
            <b>disponibles:</b> {{p.cantidad}} <br> 
            <b>categoria:</b> {{p.categoria}}
          </ion-label>
          </div>
       
      </ion-item>

    </div>

  </ion-list>
</ion-content>
