<ion-header>
  <ion-toolbar>
    <ion-title>AgroMarket</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/updateporfile">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/shopping">
        <ion-icon name="bag-outline"></ion-icon>
      </ion-button>
    </ion-buttons> 
    <ion-buttons slot="end">
      <ion-button routerLink="/card">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar  placeholder="{{productoAleatorio}}"></ion-searchbar>
    <ion-label>serca a Isnos-Huila</ion-label> <ion-icon name="location-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div class="ads">
  <h4>mira esto!!</h4>
  <swiper-container [slidesPerView]="3">
    <swiper-slide  *ngFor="let p of list.productos" routerLink="/detalle">
      <div>
        <img src="../../../assets/img/market.png" alt="">
        <label>{{p}}</label>
      </div>
    </swiper-slide>
  </swiper-container>
</div>


  <ion-list>

    <div class="div-recomendado">

      <ion-item lines="none" class="title">
      
        <ion-label> <i>productos frescos</i> </ion-label>
        
        <ion-button (click)="verMas()">ver mas</ion-button>
      </ion-item>

      <ion-item lines="none"  *ngFor="let p of view" routerLink="/detalle">
        <div id="div-content">
          <ion-avatar>
            <ion-img src="../../../assets/img/market.png"></ion-img>
          </ion-avatar>
            <div class="div-text">
              <p>precio: <br> 10.000 </p>
              <p>producto: <br> {{p}}</p>
            </div>
          </div>
       
      </ion-item>

    </div>


    <div class="div-recomendado">

      <ion-item lines="none" class="title">
      
        <ion-label> <i>Mas vendido</i> </ion-label>
        
        <ion-button (click)="verMas()">ver mas</ion-button>
      </ion-item>

      <ion-item lines="none"  *ngFor="let p of view" routerLink="/detalle">
        <div id="div-content">
          <ion-avatar>
            <ion-img src="../../../assets/img/market.png"></ion-img>
          </ion-avatar>
            <div class="div-text">
              <p>precio: <br> 10.000 </p>
              <p>producto: <br> {{p}}</p>
            </div>
          </div>
       
      </ion-item>

    </div>

    <div class="div-recomendado">

      <ion-item lines="none" class="title">
      
        <ion-label> <i>para ti </i> </ion-label>
        
        <ion-button (click)="verMas()">ver mas</ion-button>
      </ion-item>

      <ion-item lines="none"  *ngFor="let p of view" routerLink="/detalle">
        <div id="div-content">
          <ion-avatar>
            <ion-img src="../../../assets/img/market.png"></ion-img>
          </ion-avatar>
            <div class="div-text">
              <p>precio: <br> 10.000 </p>
              <p>producto: <br> {{p}}</p>
            </div>
          </div>
       
      </ion-item>

    </div>

  </ion-list>
</ion-content>
