<ion-tabs>
  <ion-tab-bar slot="bottom" color="medium">
    <ion-tab-button tab="orders">
      <ion-icon name="bookmarks-outline"></ion-icon>  
      <ion-label>Mis pedidos</ion-label> 
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon> 
      <ion-label>Mi perfil</ion-label> 
    </ion-tab-button>
    <ion-tab-button tab="sales">
      <ion-icon name="business-outline"></ion-icon>  
      <ion-label>Mis ventas</ion-label> 
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
