<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>AgroMarket</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/mainclient">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> 
    <ion-buttons slot="end">
      <ion-button routerLink="/updateporfile">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="div-redondeado">
    <div class="img">
      <app-slide></app-slide>
    </div>
    <div class="price">
        <p id="price">
          precio: <br>
          10.000
        </p>
        <p id="stok">
          disponibles: <br>
          20
        </p>
  </div>

    <h1>
      platano
    </h1>

    </div>

<ion-list>
  <ion-item>
    <ion-label>
      <p>descripcion</p>
      <h2>los mejores platanos, produccion 100% organico</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <p>categoria</p>
      <h2>comestibles</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <p>vendedor</p>
      <h2>granja el pollon</h2>
    </ion-label>
    <ion-label>
      <p>ubicacion</p>
      <h2>vereda villanueva</h2>
    </ion-label>
  </ion-item>
</ion-list>

<div class="div-add">
  <div class="div-cantidad">
    <p>Cantidad</p>
      <ion-item no-lines>
        <ion-button (click)="onMinius()"><ion-icon name="remove-outline"></ion-icon></ion-button>
        <div no-lines class="div-input">
          <ion-input value="{{cantidad}}"></ion-input>
        </div>                   
        <ion-button (click)="onPlus()"><ion-icon name="add-outline"></ion-icon></ion-button>
      </ion-item>
  </div>
  <app-input Type="text" PlaceHolder="buen dia..." Icon="send-outline" Label="Mensaje"></app-input>

  <ion-button>Agregar al carrito</ion-button>
</div>

</ion-content>
