ion-item{
    border-radius: 20px;
    --highlight-height: 0px;

    ion_input{
        font-size: 10px;
        --padding-top: 20px;
        --padding-bottom: 15px;
        --padding-start: 5px;
    }

    a{
        font-size: 17px;
        letter-spacing: 0.5px;
        text-decoration: none;
    }
}