<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/">
        cancelar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <form id="form" [formGroup]="prodctForm">
    <div id="header">
      
      <h1>Nuevo Producto</h1>

      <div id="div-img-text">
        <div id="div-img">
          <ion-avatar   (click)="openModal = 'open1'" id="open1">
            <img src="{{imageSelect1}}">
          </ion-avatar>
          <ion-avatar id="imag2">
            <img src="{{imageSelect2}}" id="open2" (click)="openModal = 'open2'">
          </ion-avatar>
        </div>
        <p>Selecciona tus mejores fotos</p>
      </div>
      
  
    </div>

    <ion-item class="ion-margin-bottom">
      <ion-input type="Text" placeholder="Platanos verdes" label="Nombre del producto" labelPlacement="stacked" formControlName="product">
        <ion-icon name="nutrition-outline" slot="end"></ion-icon>
      </ion-input>  
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="Text" placeholder="Platanos verdes economicos y frescos" label="descripcion" labelPlacement="stacked" formControlName="description">
        <ion-icon name="text-outline" slot="end"></ion-icon>
      </ion-input>  
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="Number" placeholder="15" label="Cantidad" labelPlacement="stacked" formControlName="cantidad">
        <ion-icon name="file-tray-stacked-outline" slot="end"></ion-icon>
      </ion-input>  
    </ion-item>
    
    <ion-item class="ion-margin-bottom">
      <ion-input type="Number" placeholder="5.000" label="precio por unidad" labelPlacement="stacked" formControlName="price">
        <ion-icon name="cash-outline" slot="end"></ion-icon>
      </ion-input>  
    </ion-item>
    
    <ion-item class="ion-margin-bottom">
      <ion-input type="Text" placeholder="comestibles" label="categoria" labelPlacement="stacked" formControlName="categoria">
        <ion-icon name="pricetags-outline" slot="end"></ion-icon>
      </ion-input>  
    </ion-item>

    <ion-button expand="block" shape="round" (click)="insertDatesProduct()">publicar</ion-button>
  </form>

  <ion-modal [trigger]="openModal" [initialBreakpoint]="1" [breakpoints]="[0, 1]" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <div id="block">
        <ion-toolbar>
          <ion-title>seleciona el origen</ion-title>
        </ion-toolbar>
    
          <ion-button class="modalbtn" (click)="camera()">camara <ion-icon name="camera-outline"></ion-icon></ion-button>
          
          <ion-button class="modalbtn" (click)="galeri()">galeria <ion-icon name="images-outline" ></ion-icon></ion-button>
       
      </div>
    </ng-template>
  </ion-modal>

  <ion-toast
  [ngStyle]="{'color':'#fe0000','--background':'#ffffff'}"
  [isOpen]="isToastOpen"
  message="formulario incorrecto"
  [duration]="10000"
  (didDismiss)="setOpen(false)"
></ion-toast>

</ion-content>

