ion-toolbar{
    --background: rgba(255, 255, 255, 0.2);   

    ion-botton{
        text-transform: initial;
        font-size: 18px;
    }
}

ion-content{
    --background: rgb(255, 255, 255);  

    #header{
        display: flex;
        flex-direction:column;
        align-items: center;

        h1{
            font-weight: 700;
            font-size: 36px;
            margin-bottom: 12%;
        }

        #div-img-text{
            width: 95%;
            margin-bottom: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction:column;
            align-items: center;
            border: solid;

            #div-img{
                width: 95%;
                height: 60%;
                display: flex;
                flex-direction:row;
                align-items: center;
    
                ion-avatar{
                    margin: 3px;
                    width: 50%;
                    height: 100%;
                    --border-radius: 10px;
                    border: solid;
                    --float: right;
                }
              }
        }

        

       
    }

    #form{
        border-radius: 20px;
        margin: 20px;
        background-color: rgba(0, 0, 0, 0.2);
        margin-top: 3%;
        padding: 20px;

    

        ion-button{
            margin-top: 35px;
            height: 48px;
            font-size: 18px;
            border-radius: 50px;
            box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.05);
            --box-shadow: none;
        }
    }
}