<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/signup">
        registrarme
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="header">
    <h1>AgroMarket</h1>
    <img src="assets/icon/favicon.png" alt="">

  </div>

  <form id="form" [formGroup]="loginForm" >
    <span [ngStyle]="{'color':'#fe0000','background':'#ffffff'}"
   *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">{{getErrorEmailMessage()}}</span>
    <ion-item class="ion-margin-bottom">
      <ion-input type="email" placeholder="miCorreo@agroMarket.com" label="correo" labelPlacement="stacked" formControlName="email">
        <ion-icon name="mail-outline" slot="end"></ion-icon>
      </ion-input>  
    </ion-item>

    <span [ngStyle]="{'color':'#fe0000','background':'#ffffff'}"
    *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">{{getErrorPasswordMessage()}}</span>
    <ion-item class="ion-margin-bottom">
      <ion-input type="password" placeholder="MiContrasenaSegura" label="Contrasena" labelPlacement="stacked" formControlName="password">
        <ion-icon name="person-outline" slot="end"></ion-icon>
      </ion-input>  
    </ion-item>
    <ion-button expand="block" shape="round" (click)="login()">ingresar</ion-button>
  </form>

  <ion-toast
  [ngStyle]="{'color':'#fe0000','--background':'#ffffff'}"
  [isOpen]="isToastOpen"
  message="formulario incorrecto"
  [duration]="10000"
  (didDismiss)="setOpen(false)"
></ion-toast>

</ion-content>
