<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/login">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="header">
    
      <div class="div-redondeado">
        <h2>¡Bienvenido a agroMarket!</h2>
        <p>El mercado campesino local al alcance de tu mano.</p>
      </div>

  </div>

  <form id="form">
    <app-input Type="name" PlaceHolder="Pepito Molina" Icon="person-outline" Label="Nombre Completo"></app-input>
    <app-input Type="text" PlaceHolder="Vereda Villanueva/Cra #6 -53" Icon="location-outline" Label="Direccion"></app-input>
    <app-input Type="tel" PlaceHolder="3337465487" Icon="call-outline" Label="Telefono"></app-input>
    <app-input Type="Email" PlaceHolder="miCorreo@agroMarket.com" Icon="mail-outline" Label="correo electronico"></app-input>
    <app-input Type="password" PlaceHolder="Mi contrasena segura" Icon="key-outline" Label="contrasena"></app-input>
    <ion-button expand="block" shape="round" routerLink="/">ingresar</ion-button>
  </form>

</ion-content>
