<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis compras</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/mainclient">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="div-info">
    
    <p>{{context}}</p>

    <ion-tab-bar slot="bottom" color="none">
      <ion-tab-button>
        <ion-icon name="albums-outline" (click)="initShoppingPending()"></ion-icon>
        <ion-label>Pendientes</ion-label> 
      </ion-tab-button>
      <ion-tab-button tab="sales" (click)="initShopping()">
        <ion-icon name="bag-handle-outline"></ion-icon>
        <ion-label>Exitosas</ion-label> 
      </ion-tab-button>
    </ion-tab-bar>
   
  </div>

  <ion-list>
    <ion-item>
      <ion-label>
        <p>producto</p>
        <h2>platano verdes</h2>
      </ion-label>
      <ion-label>
        <p>cantidad</p>
        <h2>38</h2>
      </ion-label>
      <ion-label>
        <p>total</p>
        <h2>38.000</h2>
      </ion-label>
      <br>
      <ion-button routerLink="/scanqr"><ion-icon name="qr-code-outline"></ion-icon></ion-button>
      <ion-button id="present-alert"><ion-icon name="text-outline"></ion-icon></ion-button>
    </ion-item>
    
  </ion-list>

  <ion-alert
  trigger="present-alert"
  header="Comparte este codigo con el repartidor"
  subHeader="Tu codigo es:"
  message="rfg14f54hf"
  [buttons]="alertButtons"
></ion-alert>

</ion-content>

