<ion-tabs>
  <ion-tab-bar slot="bottom" color="medium">
    <ion-tab-button tab="ordersAvaliable">
      <ion-icon name="compass-outline"></ion-icon> 
      <ion-label>Pedidos disponibles</ion-label> 
    </ion-tab-button>
    <ion-tab-button tab="ordersTaken">
      <ion-icon name="bag-handle-outline"></ion-icon>
      <ion-label>Pedidos tomados</ion-label> 
    </ion-tab-button>
    <ion-tab-button tab="income">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Mis ganacias</ion-label> 
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
